<% if !flash[:notice].blank? %>
  <div class = "alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<br />

 <% if policy(Project.new).create? %>
<%= link_to "New Project", new_project_path, class: "btn btn-primary" %>
<br />
<br />

<% end %>

<table class = "table table-bordered table-striped">
  <thread>
    <tr>
      <th>Name</th>
      <th>Download Link</th>
      <th> </th>
    </tr>
  </thread>

  <tbody>
    <% @projects.each do |project| %>

    <tr>
      <td><%= project.name %></td>
      <td><%= link_to "Download Project", project.attachment_url %></td>
      <td><%= button_to "Delete", project, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{project.name}?" %></td>
    </tr>

  <% end %>
</tbody>
</table>
